<!--Código fixo-->
<div class="container">

  <div class="container">
    <ul class="nav nav-pills nav-fill justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" aria-current="page" >Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/professores']"
        routerLinkActive="active" >Professores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/formularios/reativo-form']"
      routerLinkActive="active" >Formulários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/professores-gp/listar-gp']"
        routerLinkActive="active" >Professores Grande Porte</a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>



<!--<h1>Componente Root</h1>

Chama um componente dentro de um outro componente (seletor)
<app-listar [empresaFilho]="empresa">]

</app-listar>

Interpolação
<p>Interpolação: {{ title }} </p>

<p>Empresa: {{ empresa }} </p>

<p style="background-color: yellow;">
  Empresa: {{ empresa }}
</p>

Colocando a cor com Interpolação
<p style="{{ corFundo }}">
  Empresa: {{ empresa }}
</p>

Colocando a cor com o Property Binding
<p [style]="corFundo">
  Empresa: {{ empresa }}
</p>

Event Binding
<p>
  <button class="btn btn-secondary" (click)="clicar()"> Clique aqui</button>
</p>

Teste: Forma mais elegante, fazer com o Property Binding
<p>
  <input class="form-control" type="text" [value]="empresa">
</p>

Teste: Event Binding. O # representa a variável associada ao elemento (input)
<p>
  <input type="text" [value]="empresa" (keyup)="getTextoDigitado(empresaInput)" #empresaInput >
</p>

2 way Databinding
<p>
  <input type="text" [(ngModel)]="empresa">
</p>

<div class="row" style="background-color: gray;">
  <div class="col-4">
    <input class="form-control" type="text">
  </div>
  <div class="col-4">
    <input class="form-control" type="text">
  </div>
  <div class="col-2">
    Column
  </div>
  <div class="col-1">
    Column
  </div>
</div>-->


